/* Body */
body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    overflow-x: hidden !important;
}
/* header style */
#main-header{
    background:url("https://images.unsplash.com/photo-1478147427282-58a87a120781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") ;
    background-size: cover;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.btn-primary{
    background: #DA70D6 !important;
    border-color: #DA70D6 !important;
}

.btn-primary:hover{
    background: rgb(212, 80, 208) !important;
    border-color: rgb(212, 80, 208) !important;
}

/* .navbar-toggler-icon{
    color: white;
    background: white;
} */

/* header::before{
    background-color: rgba(0, 0, 0, 0.005);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
} */

/* .navbar-brand img{
    width: 10%;
} */
.navbar-brand{
    font-size: 2rem;
}
.navbar-light, .bg-light{
    background: none !important;
}

nav{
    border-bottom: 1px solid white;
    color: white !important;
}

.navbar-brand, .nav-link{
    color: white !important;
}

.header-text h1{
    color: white !important;
    padding-top: 7rem;
    padding-bottom: 0rem;
    font-size: 1.7rem;
    
}
 .header-text h1 span{
     color: #DA70D6;
     font-size: 1.1em;
     font-weight: bolder;
 }

 .header-sub-text{
     color: white;
     font-size: 1.2em;
 }

 /* .search .row{
     padding: 1rem 2rem !important;
     margin: 0rem 0rem !important;
     border-color:rgba(70, 56, 57, 0.5);
     border-width: 5rem 4rem !important;
     border-style: solid;
     border-radius: .5rem;
 } */

 .search{
     margin: 5rem 0 1rem 0rem;
 }
 .search .input-group-text{
     background: white !important;
 }

 .search select{
     border-radius: .4rem !important;
     padding: 0.65rem;
 }

 .brand{
     margin-top: 3rem;
 }

 .nav-tabs .nav-link.active{
    background-color: rgb(37, 36, 44) !important;
    border-color: #DA70D6;
 }

 .nav-tabs .nav-link:hover{
     border-color: #DA70D6;
 }

 .nav-tabs .nav-link{
     /* border: 1px solid rgb(37, 36, 44) !important; */
     padding: .5rem 1rem;
     background-color: rgba(37, 36, 44, 0.171) !important;
     /* font-size: 2rem; */
 }

 .nav-tabs .nav-item {
    margin-bottom: -1px;
}

 .nav-tabs {
    border-bottom: none !important;
    /* margin: 0rem 3rem; */
}

.search-field{
    background-color: rgba(39, 30, 42, 0.931)
}

/* Main Section */

/* Section  1 */
#section1{
    background-color: #DA70D6;
    color: black;
    margin-top: 5rem;
    font-size: 1.5rem !important;
}

#section1 i{
    color: white;
}

#section1 h1 span{
    border-bottom: 1px solid white;
    font-size: .8em;
    padding-bottom: 1rem;
}

.block{
    margin-top: 7rem;
    padding-bottom: 8rem;
}

.block p{
    font-size: .8em;
    margin-top: 1rem;
}

/* Section 2 */
#section2{
    color: black;
}

.explore-states{
    margin-top: 5rem;

}

.state-images{
    padding: 0rem 3rem;
}

.state-images img{
    /* height: 40rem; */
}

.state-text{
    background-color: rgba(0,0,0,0.65);
    color: white !important;
    position: relative;
    top: -5.5rem
}

.item{
    overflow: hidden;
  }



.state-images .col-lg-3{
    max-width: inherit !important;
    max-height: inherit !important;
}

.state-images .col-12{
    max-width: inherit !important;
}
.state-images .col-md-6{
    max-width: inherit !important;

}

/* section3 starts here */
.text-purple{
    color: #DA70D6 !important;
}

#section3{
    color: black;
    margin-top: 5rem;
}

.add-ministry{
    background-color: #DA70D6;
    font-size: 1.2rem;
    color: black;
}

.add-ministry-sub{
    /* padding: 5rem 6rem; */
}

.add-ministry .btn{
    font-size: 1.0rem;
    color: black;
    padding: .7rem;
    font-weight: bold;
}

/* section4 starts here */
#section-4{
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

.w-box{
    /* background-color: white; */
    padding: .5rem;
    border-radius: .2rem;
    /* box-shadow: 0rem 1rem 1.5rem gray; */
}

.p-t-w{
    padding: 2rem 1rem 1rem 1rem;
}

.chr-name{
    font-weight: 500;
    font-size: 1.1rem;
}

.chr-details{
    font-size: .8rem;
}

.chr-time{
    font-weight: lighter;
    font-size: .75rem;
}

.chr-phone{
    font-weight: lighter;
    font-size: .9rem;
}

/* .chr-number{
    font-weight: bold;
    font-size: .8rem;
    text-align: center !important;
} */

.rating-head{
    font-weight: bold;
    font-size: 1.1rem;
}

.ratings{
    color: yellow;
    text-align: center;
}

.read-more a{
    text-decoration: none;
    color: inherit !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: .8rem;
}

.col-img{
    padding: 0;
}

/* section 5 */
#section-5{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

/* Section 6 */
#section-6{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

.discover-header{
    padding: 3rem 0rem;
}

.discover-follow .col-lg-3{
    max-width: inherit !important;
}

.discover-follow .col-12{
    max-width: inherit !important;
}
.discover-follow .col-md-6{
    max-width: inherit !important;
}

.dis-sub{
    padding: 1rem 1rem;
}

.dis-sub h5{
    font-size: 1rem;
}

#section-6 .img-thumbnail{
    
    margin: 0 .2rem;
    margin-top: 2rem; 
}

.see-more{
    margin-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

/* ========= */


.tes-body .circle-icon-c{
    position: relative;
    top: -1.2rem;
    left: 3rem;
    width: 5rem;
    border-width: .5rem;

}

.test-circle{
    position: relative;
    /* top: -3rem; */
    margin: 0rem auto;
    width:130px;
    height:130px;
    border:1px solid black;
    border-radius:100%;
   /* background:url(https://images.unsplash.com/photo-1551058624-e9390c71d17d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) center no-repeat; */
}

/* Section 7 */
#section-7{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

.sunday-worship-header{
    padding: 3rem 0;
}

.sunday-worship-body .card{
    margin: 2rem;
}

.sunday-worship-body .chr-number, .sunday-worship-body .ratings{
    text-align: initial !important;
    padding-left: 3rem;
}

/* Section 8 */

#section-8{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);    
}

/* Section 9 */
#section-9{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);    
}

.dis-sub h5{
    font-weight: bold;
}

/* section-10 */
#section-10{
    color: black;
    background-color: #DA70D6;
}

.join-us{
    padding-top: 5rem;
}

.join-us p{
    font-size: 1.5rem;
}

.join i{
    color: white;
}

a.btn-reg{
    margin: 3rem 0;
    color: #c82333;
    background: white;
    border: 1px solid #c82333;
}
/* section-11 */

#section-11{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

h5.month{
    color: #c82333;
}

.event-time, .event-address, .attended{
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .53rem;
}

.sub-info{
    border-top: 1px solid #c82333;
}

/* Footer */
footer{
    margin-top: 4rem;
    color: black;
    background-color: #DA70D6;
}

.ministries p{
    font-size: .8rem;
}

.social-media a{
    text-decoration: none;
    color: inherit !important;
    font-size: 1.7rem;
}

.discover a, .company a{
    text-decoration: none;
    color: inherit !important;
    display: block;
}

.copy{
    border-top: 1px solid white;
}

  /* Back to top button */

  .back-to-top {
    position: fixed;
    display: none;
    background: #F68624;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }

  body::-webkit-scrollbar {
    width: .5rem;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #DA70D6;
  outline: 1px solid slategrey;
}


/*  */
/*  */
/*  */
/* ========================= */
/* ADD-LISITING CSS */
#al-body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: black;
    overflow-x: hidden !important;
    background: rgba(177, 175, 175, 0.267);
}
.navbar-brand{
    font-size: 2rem;
}
.navbar-light, .bg-light{
    background: none !important;
}

.al-nav-item{
    padding-top: .6rem;
    padding-right: .5rem;
    padding-left: .3rem;
}

#al-nav{
    /* border-bottom: 1px solid white; */
    color: white !important;
    border: none !important;
}

#al-header{
    background-color: #DA70D6;
}

.navbar-brand, .al-nav-link{
    color: black !important;
    font-weight: bold;
}

/* Section 1 */
#al-section-1{
    background-color: #DA70D6;
}
#al-section-1 h1{
    font-size: 2.8rem;
    font-weight: bolder;
    background-color: #DA70D6;
}

/* Section 2 */
#al-section-2{
    margin-top: 0rem;
}

#al-section-2 .container{
    background: white;
    box-shadow: 0rem 1rem .5rem rgb(206, 205, 205);
    margin-bottom:15rem;
}

.al-form{
    padding: 1rem;
    font-size: 1.4rem;
}

#al-chr-select:optional{
    background: rgba(206, 205, 205, 0.267);
    padding: 1.5rem;
    border: 1px solid rgba(206, 205, 205, 0.267);
    font-weight: 300;
    border-radius: .3rem;
} 



.form-input{
    padding: 2.5rem;
    background: rgba(206, 205, 205, 0.267);
    font-size: 1.4rem;

}

textarea.form-input{
    padding: 1rem 2.5rem;
}

/* input[type="file"] {
    position: relative;
    top: -3.7rem;
    background: none;
    border: none;
    left: 7rem;
} */

label.al-img-upload{
    padding: .5rem 2rem;
    background: white; 
    box-shadow: 0rem -.2rem .5rem rgba(0, 0, 0, 0.438);
    display: table;
    color: black;
    position: relative;
    top: -3.4rem;
    left: 4rem;
    font-size: 1rem;
    border-radius: .2rem;
}

.label span{
    position: relative;
    top: -1rem;
}

.label{
    margin-top: 2.2rem;
}

.text-purple{
    color: rgb(212, 80, 208);
}

.op-hrs{
    margin-top: 1.2rem;
    color: rgb(212, 80, 208) !important;
    font-size: 1rem;
}

.col-1.warning{
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 3.533333%;
}



input[type="file"] {
    display: none;
}

label.g-img{
    left: 3.5em;
}
.gallery .label span{
    left: -2rem;
}

/* input.agree {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input.agree:checked {
    background: #abd;
} */

.agree{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.agree .btn{
    padding: 1.3rem 3rem;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 1.7rem;
}



/* =========================== */
/* Add event css */
#ae-body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: black;
    overflow-x: hidden !important;
    background: rgba(177, 175, 175, 0.267);
}

.navvv{
    background: #DA70D6 !important;
}

/* Header */
#ae-nav{
    background: #DA70D6;
    
}

#ae-nav h3{
    padding: 2rem;
    color: black;
}

.ae-header-text h3{
    font-size: 1em;
}

/* main */
#ae-main .container{
    background: white;
}

.ae-form{
    padding: .5rem;
}

.add-photo.form-input{
    padding: 3rem 7rem 5rem 7rem;
    background: rgba(206, 205, 205, 0.267);
    font-size: 1.4rem;


}

.form-input{
    padding: 2rem;
    background: rgba(206, 205, 205, 0.267);
    font-size: 1.4rem;


}

.a-input{
    padding: 1.7rem 1rem 1.7rem .5rem !important;
    font-size: 1.0002em;
}

/* .a-input::after{
    padding-top: 0rem;
} */
#state{
    padding: 1.2rem 2rem;
    background: rgba(206, 205, 205, 0.267);
    font-size: 1.4rem;
    height: auto;
}

label.ae-img-upload{
    padding: .5rem 2rem;
    background: black; 
    box-shadow: 0rem -.2rem .5rem rgba(0, 0, 0, 0.438);
    display: table;
    color: white;
    position: relative;
    left: -.8rem;
    font-size: .5em;
    border-radius: .2rem;
}

input[type="file"] {
    display: none;
}

.sub .btn{
    background: rgb(87, 45, 85);
    border-color: rgb(65, 33, 63);
}

.label span{
    /* position: relative;
    top: -1rem; */
}

/* .label{
    margin-top: 2.2rem;
} */

.text-purple{
    color: rgb(212, 80, 208);
}

/*  */
/* Info  */
#info-body{
    background: #DA70D6;
}


.i-header{
    color: black;
}

.i-body{
    color: black;
}

.condition{
    display: inline-block !important;
    margin-top: 3rem;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
}

a.btn-dark{
    display: none;
}