/* Body */
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    overflow-x: hidden !important;
}
/* header style */
header{
    background:url("https://images.unsplash.com/photo-1478147427282-58a87a120781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") ;
    background-size: cover;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: center;
    
    
}

/* .navbar-toggler-icon{
    color: white;
    background: white;
} */

/* header::before{
    background-color: rgba(0, 0, 0, 0.005);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
} */


.navbar-brand{
    font-size: 2rem;
}
.navbar-light, .bg-light{
    background: none !important;
}

nav{
    border-bottom: 1px solid white;
    color: white !important;
}

.navbar-brand, .nav-link{
    color: white !important;
}

.header-text h1{
    color: white !important;
    padding-top: 4rem;
    padding-bottom: 0rem;
    font-size: 3rem;
    
}
 .header-text h1 span{
     color: #c82333;
     font-size: inherit;
     font-weight: bolder;
 }

 .header-sub-text{
     color: white;
     font-size: 2rem;
 }

 /* .search .row{
     padding: 1rem 2rem !important;
     margin: 0rem 0rem !important;
     border-color:rgba(70, 56, 57, 0.5);
     border-width: 5rem 4rem !important;
     border-style: solid;
     border-radius: .5rem;
 } */

 .search{
     margin: 2rem 0rem;
 }
 .search .input-group-text{
     background: white !important;
 }

 .search select{
     border-radius: .4rem !important;
     padding: 0.65rem;
 }

 .brand{
     margin-top: 3rem;
 }

 .nav-tabs .nav-link.active{
    background-color: rgb(37, 36, 44) !important;
 }

 .nav-tabs .nav-link{
     /* border: 1px solid rgb(37, 36, 44) !important; */
     padding: .5rem 1rem;
     background-color: rgba(37, 36, 44, 0.171) !important;
     /* font-size: 2rem; */
 }

 .nav-tabs .nav-item {
    margin-bottom: -1px;
}

 .nav-tabs {
    border-bottom: none !important;
    /* margin: 0rem 3rem; */
}

.search-field{
    background-color: rgba(37, 36, 44, 0.931)
}

/* Main Section */

/* Section  1 */
#section1{
    background-color: #c82333;
    margin-top: 5rem;
    font-size: 1.5rem !important;
}

#section1 h1 span{
    border-bottom: 1px solid white;
    /* padding-bottom: 1rem; */
}

.block{
    margin-top: 7rem;
    padding-bottom: 8rem;
}

/* Section 2 */
#section2{
    color: black;
}

.explore-states{
    margin-top: 5rem;

}

.state-images{
    padding: 0rem 3rem;
}

.state-images img{
    /* height: 40rem; */
}

.state-text{
    background-color: rgba(0,0,0,0.65);
    color: white !important;
    position: relative;
    top: -5.5rem
}

.state-images .col-lg-3{
    max-width: inherit !important;
}

.state-images .col-12{
    max-width: inherit !important;
}
.state-images .col-md-6{
    max-width: inherit !important;
}

/* section3 starts here */

#section3{
    color: black;
    margin-top: 5rem;
}

.add-ministry{
    background-color: #c82333;
    font-size: 1.6rem;
    color: white;
}

.add-ministry-sub{
    /* padding: 5rem 6rem; */
}

.add-ministry .btn{
    font-size: 1.3rem;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

/* section4 starts here */
#section-4{
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

.w-box{
    background-color: white;
    padding: .5rem;
    border-radius: .2rem;
    box-shadow: 0rem 1rem 1.5rem gray;
}

.p-t-w{
    padding: 2rem 1rem 1rem 1rem;
}

.chr-name{
    font-weight: bold;
    font-size: 1.3rem;
}

.chr-hr{
    font-weight: bold;
    font-size: 1.1rem;
}

.chr-time{
    font-weight: bold;
    font-size: .8rem;
    text-align: right !important;
}

.chr-phone{
    font-weight: bold;
    font-size: 1.1rem;
}

.chr-number{
    font-weight: bold;
    font-size: .8rem;
    text-align: center !important;
}

.rating-head{
    font-weight: bold;
    font-size: 1.1rem;
}

.ratings{
    color: yellow;
    text-align: center;
}

.read-more a{
    text-decoration: none;
    color: inherit !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: .8rem;
}

.col-img{
    padding: 0;
}

/* section 5 */
#section-5{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

/* Section 6 */
#section-6{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

.discover-header{
    padding: 3rem 0rem;
}

.discover-follow .col-lg-3{
    max-width: inherit !important;
}

.discover-follow .col-12{
    max-width: inherit !important;
}
.discover-follow .col-md-6{
    max-width: inherit !important;
}

.dis-sub{
    padding: 1rem 1rem;
}

.dis-sub h5{
    font-size: 1rem;
}

#section-6 .img-thumbnail{
    
    margin: 0 .2rem;
    margin-top: 2rem; 
}

.see-more{
    margin-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

/* ========= */


.tes-body .circle-icon-c{
    position: relative;
    top: -1.2rem;
    left: 3rem;
    width: 5rem;
    border-width: .5rem;

}

.test-circle{
    position: relative;
    /* top: -3rem; */
    margin: 0rem auto;
    width:130px;
    height:130px;
    border:1px solid black;
    border-radius:100%;
   /* background:url(https://images.unsplash.com/photo-1551058624-e9390c71d17d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) center no-repeat; */
}

/* Section 7 */
#section-7{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

.sunday-worship-header{
    padding: 3rem 0;
}

.sunday-worship-body .card{
    margin: 2rem;
}

.sunday-worship-body .chr-number, .sunday-worship-body .ratings{
    text-align: initial !important;
    padding-left: 3rem;
}

/* Section 8 */

#section-8{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);    
}

/* Section 9 */
#section-9{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);    
}

.dis-sub h5{
    font-weight: bold;
}

/* section-10 */
#section-10{
    color: black;
    background-color: #c82333;
}

.join-us{
    padding-top: 5rem;
}

.join-us p{
    font-size: 1.5rem;
}

.join i{
    color: white;
}

a.btn-reg{
    margin: 3rem 0;
    color: #c82333;
    background: white;
    border: 1px solid #c82333;
}
/* section-11 */

#section-11{
    margin-top: 4rem;
    color: black;
    background-color: rgba(202, 200, 200, 0.39);
}

h5.month{
    color: #c82333;
}

.event-time, .event-address, .attended{
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .53rem;
}

.sub-info{
    border-top: 1px solid #c82333;
}

/* Footer */
footer{
    margin-top: 4rem;
    color: white;
    background-color: #c82333;
}

.ministries p{
    font-size: .8rem;
}

.social-media a{
    text-decoration: none;
    color: inherit !important;
    font-size: 1.7rem;
}

.discover a, .company a{
    text-decoration: none;
    color: inherit !important;
    display: block;
}

.copy{
    border-top: 1px solid white;
}