body{
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
}

.signup-header{
    background-color: rgba(255, 0, 0, 0.781);
    color: white; 
    padding: 2rem;
    font-weight: bolder;
}

.signup-header h3{
    font-weight: bolder;
}

.signup-form{
    margin-top: 3rem;
}

button{
    align-content: center !important;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d7c;
    border-color: #6c757d7c;
}

form i{
    /* font-size: .02rem !important; */
}

.rrequired:after { 
    content:"*";
    color: red;
 }