body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: black;
    overflow-x: hidden !important;
    background: rgba(177, 175, 175, 0.267);
}

/* Header */
nav{
    background: #DA70D6;
}

nav h3{
    padding: 2rem;
}

.header-text h3{
    font-size: 1.2em;
}

/* main */
main .container{
    background: white;
}

.form{
    padding: .5rem;
}

.add-photo.form-input{
    padding: 3rem 7rem 5rem 7rem;
    background: rgba(206, 205, 205, 0.267);
    font-size: 1.4rem;


}

.form-input{
    padding: 2rem;
    background: rgba(206, 205, 205, 0.267);
    font-size: 1.4rem;


}

.a-input{
    padding: 1.7rem 1rem 1.7rem .5rem !important;
    font-size: 1.0002em;
}

/* .a-input::after{
    padding-top: 0rem;
} */
#state{
    padding: 1.2rem 2rem;
    background: rgba(206, 205, 205, 0.267);
    font-size: 1.4rem;
    height: auto;
}

label.img-upload{
    padding: .5rem 2rem;
    background: black; 
    box-shadow: 0rem -.2rem .5rem rgba(0, 0, 0, 0.438);
    display: table;
    color: white;
    position: relative;
    left: -.8rem;
    font-size: .5em;
    border-radius: .2rem;
}

input[type="file"] {
    display: none;
}

.sub .btn{
    background: rgb(87, 45, 85);
    border-color: rgb(65, 33, 63);
}

.label span{
    /* position: relative;
    top: -1rem; */
}

/* .label{
    margin-top: 2.2rem;
} */

.text-purple{
    color: rgb(212, 80, 208);
}





















/* Footer */
footer{
    margin-top: 4rem;
    color: black;
    background-color: #DA70D6;
}

.ministries p{
    font-size: .8rem;
}

.social-media a{
    text-decoration: none;
    color: inherit !important;
    font-size: 1.7rem;
}

.discover a, .company a{
    text-decoration: none;
    color: inherit !important;
    display: block;
}

.copy{
    border-top: 1px solid white;
}